article.context {
    font-size: 16px;
    margin-top: 35px;
}

body {
    background-color: rgba(57, 156, 151, 0.07);
    font-family: "Lato","sans-serif";
    font-size: 14px;
    line-height: 2.0!important;
    color: #176875;
}

h1, h2, h3, h4, h5, p{
	color: #176875;
}

.container {
  width: 1180px;
}
a:hover {
  text-decoration: none!important;
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform:  scale(0.2);
    -webkit-filter: hue-rotate(0deg) blur(15px);
    filter: hue-rotate(0deg) blur(15px);
  }
  10% {
    opacity: 0.2;
    transform:  scale(0.4);
    -webkit-filter: hue-rotate(0deg) blur(13px);
    filter: hue-rotate(0deg) blur(13px);
  }
  20% {
    transform:  scale(0.6);
    opacity: 0.4;
    -webkit-filter: hue-rotate(60deg) blur(10px);
    filter: hue-rotate(60deg) blur(10px);
  }
  30% {
    transform:  scale(0.8);
    opacity: 0.6;
    -webkit-filter: hue-rotate(120deg) blur(8px);
    filter: hue-rotate(120deg) blur(8px);
  }
  40% {
    opacity: 0.8;
    transform:  scale(1);
    -webkit-filter: hue-rotate(180deg) blur(6px);
    filter: hue-rotate(180deg) blur(6px);
  }
  50% {
    opacity: 1;
    transform:  scale(1.1);
    -webkit-filter: hue-rotate(180deg) blur(3px);
    filter: hue-rotate(180deg) blur(3px);
  }
  60% {
    opacity: 1;
    transform:  scale(1.2);
    -webkit-filter: hue-rotate(240deg) blur(2px);
    filter: hue-rotate(240deg) blur(2px);
  }
  70% {
    opacity: 1;
    transform:  scale(1.3);
    -webkit-filter: hue-rotate(300deg) blur(1px);
    filter: hue-rotate(300deg) blur(1px);
  }
  80% {
    opacity: 1;
    transform:  scale(1.2);
    -webkit-filter: hue-rotate(330deg) blur(3px);
    filter: hue-rotate(330deg) blur(3px);
  }
  90% {
    opacity: 1;
    transform:  scale(1.1);
  }
  100% {
    opacity: 1;
    transform:  scale(1);
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.hexmap {
  opacity : 0;
  animation : fadeIn 1.3s cubic-bezier(0.01, 0.64, 0.43, 0.71) 0s 1;
  animation-fill-mode : forwards;
}
